//--- Python ---//
.slider-item.python
  background-color: $color-python

.slider-link.python
  left: 20%
  top: 50%
  transform: translateY(-40%)

.logo-python
  width: 30%
  height: auto
  transition: all 0.4s
  &:hover
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.8))

.slider__bg-img
  position: absolute
  bottom: 15px
  right: 15px
  z-index: 10

.img-python
  height: 90%
