//--- Python ---//
@media only screen and (max-width: 1680px) and (max-height: 1200px)
  .slider-link.python
    left: 10%
@media only screen and (max-width: 1600px) and (max-height: 750px)
  .slider-link.python
    left: 15%
@media only screen and (max-width: 1600px) and (max-height: 700px)
  .slider-link.python
    left: 20%
@media only screen and (max-width: 1280px) and (max-height: 1024px)
  .img-python
    height: 80%
@media only screen and (max-width: 1200px) and (max-height: 550px)
  .logo-python
    width: 25%
@media only screen and (orientation: portrait) and (max-device-width: 1024px)
  .slider-link.python
    left: 15%
@media only screen and (orientation: landscape) and (max-width: 896px)
  .logo-python
    width: 35%
@media only screen and (orientation: landscape) and (max-width: 812px)
  .slider-link.python
    left: 15%
@media only screen and (orientation: landscape) and (max-width: 736px)
  .slider-link.python
    left: 10%
@media only screen and (orientation: landscape) and (max-width: 667px)
  .slider-link.python
    left: 6%
@media only screen and (orientation: landscape) and (max-width: 568px)
  .img-python
    height: 75%
@media only screen and (orientation: portrait) and (max-device-width: 876px)
  .slider-link.python
    left: 7%
@media only screen and (orientation: portrait) and (max-device-width: 600px) and (max-device-height: 1280px)
  .img-python
    height: 70%
  .slider-link.python
    left: 5%
@media only screen and (orientation: portrait) and (max-device-width: 426px)
  .img-python
    height: 60%
  .slider-link.python
    left: 5%
@media only screen and (orientation: portrait) and (max-device-width: 414px) and (max-device-height: 736px)
  .slider-link.python
    left: 20%
