@import vars

//*==========  Desktop First  ==========*/
//* Large Devices, Wide Screens */
//* 1920 *//  
@media only screen and (max-width: 1920px) and (max-height: 900px)  
  .home-caption__title
    +rfs(140px)

  .home-caption__subtitle 
    +rfs(53px)
    padding-left: 7px
  
  .home-row__elements
    grid-template-rows: 1.1fr 2fr

  .dashbord-item
    width: 57%

@media only screen and (max-width: 1920px) and (max-height: 850px)
  .home-row__elements
    grid-template-rows: 1fr 2fr

  .home-caption__title
    +rfs(110px)

  .home-caption__subtitle 
    +rfs(42px)
    padding-left: 0

  .dashbord-item
    width: 55%

  .dashbord-item.round-1
    margin-bottom: 12px

  .dashbord-item.round-2
    margin-right: 10px
    
  .dashbord-item.round-3
    margin-top: 12px

//* 1680*//
@media only screen and (max-width: 1680px) and (max-height: 1200px)
  #main
    background-size: 38%

  .dashbord-item
    width: 80%

  .course-descr,
  .dashbord-mail__link
    +rfs(24px)

  .row__elements-title
    +rfs(32px)

  .slider-title
    width: 60%

@media only screen and (max-width: 1680px) and (max-height: 960px)
  .home-row__elements
    grid-template-rows: 1.1fr 2fr

  .home-caption__title
    +rfs(130px)

  .home-caption__subtitle 
    +rfs(49px)
    padding-left: 10px

  .course-descr,
  .dashbord-mail__link
    +rfs(22px)

  .dashbord-item
    width: 75%

//* 1600*//
@media only screen and (max-width: 1600px) and (max-height: 850px)
  .home-caption__title
    +rfs(110px)

  .home-caption__subtitle 
    +rfs(41px)
    padding-left: 14px

  .course-descr
    +rfs(20px)

  .course-icon
    width: 40px
    height: 4px
  
  .dashbord-item
    width: 75%
    
  .dashbord__round-desc
    +rfs(16px)

@media only screen and (max-width: 1600px) and (max-height: 800px)
  .home-row__elements
    grid-template-rows: 1.1fr 2fr

  .dashbord-item
    width: 65%

@media only screen and (max-width: 1600px) and (max-height: 750px)
  .home-row__elements
    grid-template-rows: 1fr 2fr

  .course-descr
    +rfs(18px)

  .course-icon
    width: 35px
    height: 35px

  .dashbord-item
    width: 63%

@media only screen and (max-width: 1600px) and (max-height: 700px)
  .home-row__elements
    grid-template-rows: 1fr 1.9fr
  
  .home-caption__title
    +rfs(100px)

  .home-caption__subtitle 
    +rfs(38px)
    padding-left: 5px

  .course-icon
    width: 30px
    height: 30px

  .row__elements-title
    +rfs(28px)

  .slider-link__img
    width: 55px

  .slider-link__title
    +rfs(32px)

  .dashbord-item
    width: 55%
  
  .dashbord__round-num
    +rfs(28px)

  .dashbord__round-desc
    +rfs(14px)

  .dashbord-mail__link
    +rfs(20px)

//* 1536 *//
@media only screen and (max-width: 1536px) and (max-height: 1024px)
  .home-caption__title
    +rfs(140px)

  .home-caption__subtitle 
    +rfs(53px)
    padding-left: 6px

@media only screen and (max-width: 1536px) and (max-height: 800px)
  .home-caption__title
    +rfs(120px)

  .home-caption__subtitle 
    +rfs(45px)
    padding-left: 12px

  .row__elements-title
    +rfs(28px)

  .course-descr
    +rfs(18px)

  .course-icon
    width: 35px
    height: 35px

  .dashbord-mail__link
    +rfs(20px)

  .slider-link__img
    width: 55px
  .slider-link__title
    +rfs(34px)

//* 1440 *//
@media only screen and (max-width: 1440px) and (max-height: 1050px)
  .home-caption__title
    +rfs(140px)

  .home-caption__subtitle 
    +rfs(53px)
    padding-left: 10px

@media only screen and (max-width: 1440px) and (max-height: 900px)
  .course-descr
    +rfs(20px)

@media only screen and (max-width: 1440px) and (max-height: 800px)
  .home-caption__title
    +rfs(120px)

  .home-caption__subtitle 
    +rfs(45px)
    padding-left: 14px

@media only screen and (max-width: 1440px) and (max-height: 750px)
  #main
    grid-template-columns: 80px auto

  .home-row__elements
    grid-template-rows: 1.1fr 2fr

  .home-caption__title
    +rfs(105px)

  .home-caption__subtitle 
    +rfs(39px)
    padding-left: 16px

  .course-descr
    +rfs(18px)

  .course-icon
    width: 30px
    height: 30px

  .dashbord-item
    width: 65%


//* 1366 *//
@media only screen and (max-width: 1366px) and (max-height: 1024px)
  .home-row__elements
    grid-template-rows: 1fr 2fr
  .course-descr
    +rfs(18px)

@media only screen and (max-width: 1366px) and (max-height: 768px)
  .course-descr
    +rfs(16px)

  .dashbord-item
    width: 80% 

@media only screen and (max-width: 1366px) and (max-height: 750px)
  #main
    grid-template-columns: 80px auto

  .logo__img
    width: 50px

  .nav__link img
    width: 45px

  .home-row__elements
    grid-template-rows: 1fr 2fr

  .item-elements
    padding: 10px

  .row__elements-title
    +rfs(28px)

  .course-title
    padding-bottom: 20px
    &::after
      top: calc(100% - 10px)
  
  .course-icon
    right: 10px
    bottom: 10px
    width: 25px
    height: 25px

  .slider-link__course
    margin-bottom: 15px

  .slider-link__title
    +rfs(28px)

  .slider-link__img
    width: 50px

  .dashbord-item.round-1
    margin-bottom: 10px
  .dashbord-item.round-2
    margin-right: 5px
  .dashbord-item.round-3
    margin-top: 10px
  
  .dashbord-item
    width: 65% 

  .dashbord__round-desc
    +rfs(14px)

  .dashbord-mail__link
    +rfs(16px)

@media only screen and (max-width: 1366px) and (max-height: 640px)
  .row__elements-title
    +rfs(24px)

  .home-caption__title
    +rfs(101px)

  .home-caption__subtitle 
    +rfs(38px)
    padding-left: 8px
  
  .slider-title
    padding-bottom: 20px
    
  .dashbord-item
    width: 60%

  .dashbord__round-desc
    +rfs(12px)

@media only screen and (max-width: 1366px) and (max-height: 620px)
  .home-caption__title
    +rfs(90px)

  .home-caption__subtitle 
    +rfs(34px)
    padding-left: 8px

  .dashbord-item
    width: 57%
    
  .dashbord__round-desc
    +rfs(12px)
    
// //* 1280 *//
@media only screen and (max-width: 1280px) and (max-height: 1024px)
  .home-caption__title
    +rfs(110px)

  .home-caption__subtitle 
    +rfs(41px)

  .course-descr
    +rfs(20px)

  .course-icon
    width: 40px
    height: 40px

  .slider-link 
    padding-left: 10px

  .slider-title
    width: 70%

  .dashbord-item
    width: 93%

@media only screen and (max-width: 1280px) and (max-height: 850px)
  .item-elements
    padding: 10px

  .row__elements-title
    +rfs(26px)

  .course-descr
    +rfs(18px)
    
  .course-icon
    width: 35px
    height: 35px

  .slider-link__title
    +rfs(30px)

  .dashbord-item
    width: 80%

  .dashbord__round-desc
    +rfs(14px)

  .dashbord-mail__link
    +rfs(20px)

@media only screen and (max-width: 1280px) and (max-height: 800px)
  .course-descr
    +rfs(16px)

  .dashbord-item
    width: 75%

  .dashbord-mail__link
    +rfs(18px)

@media only screen and (max-width: 1280px) and (max-height: 650px)
  .home-row__elements
    grid-template-rows: 1fr 1.8fr

  .home-caption__title
    +rfs(90px)

  .home-caption__subtitle 
    +rfs(34px)
    padding-left: 2px

  .course-descr
    line-height: 1.4

  .course-icon
    width: 30px
    height: 30px

  .dashbord-item
    width: 65%

  .dashbord__round-desc
    +rfs(11px)

  .dashbord-mail__link
    +rfs(16px)

@media only screen and (max-width: 1280px) and (max-height: 600px)
  #main
    grid-template-columns: 70px auto

  .logo__img 
    width: 48px

  .nav__link img
    width: 40px

  .home-caption__title
    +rfs(85px)

  .home-caption__subtitle 
    +rfs(32px)
    padding-left: 8px  

  .home-row__elements
    grid-template-rows: 1.1fr 1.9fr

  .row__elements-title
    +rfs(22px)

  .slider-link__course
    margin-bottom: 10px

  .slider-link__img
    width: 45px

  .slider-link__title
    +rfs(26px) 

  .dashbord-item
    width: 55%

  .dashbord-item.round-1
    margin-bottom: 5px
  .dashbord-item.round-2
    margin-right: 0
  .dashbord-item.round-3
    margin-top: 5px

//* 1200 *//
@media only screen and (max-width: 1200px) and (max-height: 580px)
  .nav__link img
    width: 40px

  .row__elements-title
    +rfs(22px)

  .course-descr
    +rfs(15px)
  
  .course-icon
    width: 0

  .slider-link__img
    width: 40px

  .slider-link__title
    +rfs(26px)

  .dashbord-item
    width: 60%

  .dashbord__round-desc
    +rfs(10px)

@media only screen and (max-width: 1200px) and (max-height: 550px)
  #main
    grid-template-columns: 70px auto

  .home-row__elements
    grid-template-rows: auto

  .home-caption__title
    +rfs(76px)

  .home-caption__subtitle 
    +rfs(29px)
    padding-left: 4px

  .slider-title
    padding-left: 5px

  .slider-link
    top: 30%

  .slider-link__course
    margin-bottom: 10px

  .slider-link__img
    width: 35px

  .slider-link__title
    +rfs(22px)

  .dashbord-item
    width: 52%

  .dashbord-item.round-1
    margin-bottom: 5px
  .dashbord-item.round-2
    margin-right: 3px
  .dashbord-item.round-3
    margin-top: 5px
  
  .dashbord__round-num
    +rfs(20px)

  .dashbord__round-desc
    +rfs(9px)

  .dashbord-title,
  .dashbord-mail
    left: 20px

//* iPad 11" (2388x1668) Landscape 1194 *//
@media only screen and (orientation: landscape) and (max-device-width: 1194px) and (max-height: 834px)
  .home-caption__title
    +rfs(100px)

  .home-caption__subtitle 
    +rfs(39px)
    padding-left: 8px

  .course-descr
    +rfs(16px)

  .course-icon
    width: 30px
    height: 30px

  .slider-title
    padding-left: 5px

  .slider__office-img
    height: 70%

  .dashbord-title,
  .dashbord-mail
    left: 20px

//* 1152 *//
@media only screen and (max-width: 1152px) and (max-height: 864px)
  #main
    grid-template-columns: 80px auto

  .home-row__elements
    grid-template-rows: 1.2fr 2fr

  .home-caption__title
    +rfs(98px)

  .home-caption__subtitle 
    +rfs(38px)
    padding-left: 7px

  .row__elements-title
    +rfs(26px)

  .course-descr
    +rfs(17px)

  .course-icon
    width: 30px
    height: 30px

  .slider__office-img
    height: 70%

  .slider-link__img
    width: 50px

  .slider-link__title
    +rfs(28px)

  .dashbord-wrap
    padding-left: 10px

  .dashbord-item
    width: 88%

  .dashbord__round-desc
    +rfs(14px)

@media only screen and (max-width: 1152px) and (max-height: 750px)
  #page 
    grid-template-rows: 1.1fr 4fr

  .course-icon
    width: 30px

  .slider-link__img
    width: 40px

  .slider-link__title
    +rfs(24px)

  .dashbord-item
    width: 70%

  .dashbord__round-desc
    +rfs(12px)

@media only screen and (max-width: 1152px) and (max-height: 700px)
  #main
    grid-template-columns: 70px auto

  .logo__img 
    width: 48px

  .nav__link img
    width: 40px

  #page
    grid-template-rows: 1fr 4fr

  .home-row__elements
    grid-template-rows: 1.2fr 2fr

  .row__elements-title
    +rfs(20px)

  .course-icon 
    width: 25px

  .course-descr
    +rfs(16px)

  .slider-arrows
    width: 25px

  .slider-link__course
    margin-bottom: 10px
      
  .slider-link__title
    +rfs(24px)

  .dashbord-item
    width: 70%

  .dashbord__round-desc
    +rfs(10px)

  .dashbord-mail__link
    +rfs(16px)

//* iPad 10.2" (2160x1620 Landscape 1080 *//
@media only screen and (orientation: landscape) and (max-device-width: 1080px) and (max-height: 810px)
  .home-caption__title
    +rfs(106px)

  .home-caption__subtitle 
    +rfs(40px)
    padding-left: 12px

//* 1024 *//
@media only screen and (max-width: 1024px) and (max-height: 768px)
  #main
    grid-template-columns: 70px auto
  
  .logo__img 
    width: 48px

  .nav__link img
    width: 40px

  #page
    grid-template-rows: 1.2fr 4fr

  .row__elements-title
    +rfs(22px)

  .course-icon
    bottom: 10px
    right: 10px
    width: 30px
    height: 30px

  .course-descr
    +rfs(16px)
    line-height: 1.4

  .slider-arrows
    width: 25px

  .slider__office-img
    height: 65%

  .slider-link__course
    margin-bottom: 15px

  .slider-link__img
    width: 50px

  .dashbord__round-num
    +rfs(22px)

  .dashbord__round-desc
    +rfs(12px)

@media only screen and (max-width: 1024px) and (max-height: 750px)
  .dashbord-item
    width: 80%

@media only screen and (max-width: 1024px) and (max-height: 680px)
  #page
    grid-template-rows: 1fr 4fr

  .home-row__elements
    grid-template-rows: auto

  .slider-link__course
    margin-bottom: 10px

  .slider-title
    padding: 5px 0 20px 10px

  .slider-link__img
    width: 45px

  .dashbord-item
    width: 70%

  .dashbord__round-desc
    +rfs(10px)

@media only screen and (max-width: 1024px) and (max-height: 640px)
  .course-descr,
  .dashbord-mail__link
    +rfs(14px)

@media only screen and (max-width: 1024px) and (max-height: 600px)
  .home-caption__title
    +rfs(80px)
  
  .home-caption__subtitle 
    +rfs(30px)
    padding-left: 5px

@media only screen and (max-width: 1024px) and (max-height: 550px)
  #main
    grid-template-columns: 70px auto
  
  .logo__img
    width: 45px
      
  .nav__link img
    width: 35px

  #page
    gap: 10px

  .home-caption__title
    +rfs(70px)
  
  .home-caption__subtitle 
    +rfs(26px)
    padding-left: 5px

  .row__elements-title
    +rfs(18px)

  .course-descr
    +rfs(13px)
    line-height: 1.5

  .course-icon
    width: 0

  .slider-title 
    line-height: 1.1
    padding-top: 0

  .slider-link__img
    width: 38px

  .slider-link__title
    +rfs(20px)

  .dashbord-item.round-1
    margin-bottom: 5px
  .dashbord-item.round-2
    margin-right: 3px
  .dashbord-item.round-3
    margin-top: 5px

  .dashbord-item
    width: 60%

  .dashbord-mail__link
    +rfs(13px)

//* Tablets {DPR = 2} *//
//* iPad 12.9" (2732x2048) Portrait*//
@media only screen and (orientation: portrait) and (max-device-width: 1024px)
  #main
    grid-template-columns: 1fr
    grid-template-rows: 100px auto
    grid-template-areas: "menu menu" "page page"
    background-size: 45%
    background-position-y: 100px
    
  #menu
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100px
    z-index: 1500

  .logo
    left: 20px
    top: calc(50% + 5px)
    transform: translateY(-50%)
    
  .nav
    visibility: hidden
    display: none

  .icon-bars
    position: absolute
    right: 25px
    top: 25px
    display: block
    +rfs(50px)
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3)
    color: #fff
    z-index: 1700

  .wrap-mobile-menu
    button
      top: 30px
      right: 25px

  #page
    grid-template-rows: 1fr 4fr

  .home-row__header
    grid-template-columns: 1fr

  .home-caption
    width: 100%
    text-align: left

  .home-caption__title
    +rfs(116px)

  .home-caption__subtitle 
    +rfs(43px)
    padding-left: 18px

  .home-row__elements
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr 1fr 1fr 3.3fr
    grid-template-areas: "red dashbord" "blue dashbord" "green dashbord" "slider slider"
  
  .course
    display: flex
    flex-direction: row-reverse
    justify-content: center
    align-items: center
    width: 100%
    height: 100%

  .course-icon
    position: inherit
    margin-top: 7px
    margin-right: 25px

  .course-title
    +rfs(36px)
    padding-bottom: 0
  
  .course-title:after
    visibility: hidden

  .course-descr
    display: none

  .dashbord-item
    width: 84%

  .dashbord__round-num
    +rfs(36px)
  
  .slider-title 
    width: 70%
    padding-bottom: 70px

  .slider-link__img
    width: 70px

  .slider-link__title
    +rfs(36px)

  .wp-block-image
    img
      width: 90%

//* iPad 11" (2388x1668) Portrait*//
//* iPad '10.5 (2224x1668) Portrait*//
@media only screen and (orientation: portrait) and (max-device-width: 834px)
  .home-caption__title
    +rfs(106px)

  .home-caption__subtitle 
    +rfs(37px)
    padding-left: 10px
  
  .slider-title
    padding-bottom: 50px

  .dashbord-item
    width: 80%

  .dashbord-item.round-1
    margin-bottom: 8px
  .dashbord-item.round-2
    margin-right: 0
  .dashbord-item.round-3
    margin-top: 8px

  .dashbord__round-desc
    +rfs(16px)

  .dashbord-mail__link
    +rfs(20px)

//* iPad 10.2" (2160x1620) Portrait*//
@media only screen and (orientation: portrait) and (max-device-width: 810px)
  #main
    grid-template-rows: 80px auto
    background-position-y: 80px

  #menu
    height: 80px

  .icon-bars
    top: 16px

  .wrap-mobile-menu
    button
      top: 21px

//* Tab S7 Plus 11" (2560x1600) Portrait*//
@media only screen and (orientation: portrait) and (max-device-width: 800px)
  .dashbord-item
    width: 90%

//* iPad 9.7" (2048x1536) Portrait*//
@media only screen and (orientation: portrait) and (max-device-width: 768px)
  .dashbord__round-desc
    +rfs(14px)

  .slider-link__img
    width: 60px
 
//* Tab S7 Plus 12.4" (2800x1752) Portrait*//
@media only screen and (orientation: portrait) and (min-device-height: 1400px)
  #main
    background-size: 0 

  .home-caption
    text-align: center

  .slider__office-img
    height: 75%

  .home-caption__title
    +rfs(170px)

  .home-caption__subtitle
    +rfs(62px)
    padding-left: 12px

  .dashbord-item
    width: 90%

//* Phones Landscape *//
//* 960 *//  
@media only screen and (orientation: landscape) and (max-width: 960px)
  #main
    grid-template-columns: 1fr
    grid-template-rows: 70px auto
    grid-template-areas: "menu menu" "page page"
    background-size: 45%
    background-position-y: 70px
    
  #menu
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 70px
    z-index: 1500

  .logo
    left: 20px
    top: calc(50% + 5px)
    transform: translateY(-50%)
    
  .nav
    visibility: hidden
    display: none

  .icon-bars
    position: absolute
    right: 25px
    top: 17px
    display: block
    +rfs(40px)
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3)
    color: #fff
    z-index: 1700

  .wrap-mobile-menu 
    button 
      .fa
        +rfs(40px)

  .wrap-mobile-menu
    button
      top: 21px
      right: 25px

  #page
    grid-template-rows: 1.5fr auto
    padding: 15px

  .home-row__elements
    grid-template-rows: 60px auto
    gap: 15px
  
  .course
    display: flex
    flex-direction: row-reverse
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    
  .course-icon
    position: inherit
    margin-top: 8px
    margin-right: 25px

  .course-title
    padding-bottom: 0

  .course-title:after
    visibility: hidden
  
  .course-icon
    width: 30px
    height: 30px

  .course-descr
    display: none

  .dashbord-item
    width: 80%

  .mobile-nav__item
    padding: 20px 50px
    
  .nav-item__link
    +rfs(30px)

@media only screen and (orientation: landscape) and (max-width: 960px) and (max-device-height: 500px)
  #page
    grid-template-rows: 1fr 3fr

@media only screen and (orientation: landscape) and (max-width: 850px)
  #page
    grid-template-rows: 1fr 3fr

  .home-caption__title
    +rfs(76px)

  .home-caption__subtitle
    padding-left: 8px

  .home-row__elements
    grid-template-rows: 60px 250px

  .slider-title
    padding-left: 0

  .course-icon
    margin-right: 15px

  .course-title
    +rfs(20px)

  .dashbord-item
    width: 80%

  .dashbord-item.round-3
    margin-top: 8px

  .dashbord-title,
  .dashbord-mail
    left: 15px


@media only screen and (orientation: landscape) and (max-width: 812px)
  .home-caption__title
    +rfs(78px)

  .mobile-nav__item
    padding: 15px 40px
    margin-bottom: 15px

  .nav-item__link
    +rfs(24px)

@media only screen and (orientation: landscape) and (max-width: 736px)
  #main
    grid-template-rows: 60px auto

  #menu
    height: 60px

  .icon-bars
    top: 12px

  .wrap-mobile-menu
    button
      top: 17px

  .logo__img
    width: 45px

  .home-caption__title
    +rfs(81px)

  .home-caption__subtitle
    padding-left: 6px

  .slick-arrow
    display: none !important

  .dashbord-item
    width: 90%

@media only screen and (orientation: landscape) and (max-width: 667px)
  .home-caption__subtitle
    +rfs(24px)
    padding-left: 8px
    
  .home-row__elements
    grid-template-rows: 50px 250px

  .item-elements,
  .slider-item
    border-radius: 10px

  .slider-title
    width: 90%

  .slider .slick-dots button
    width: 8px
    height: 8px

  .slider__office-img
    height: 60%

  .course-icon
    width: 20px
    height: 20px

  .course-title
    +rfs(16px)

  .dashbord-item
    width: 95%
  
  .dashbord__round-num
    +rfs(18px)
  
  .dashbord__round-desc
    +rfs(9px)

@media only screen and (orientation: landscape) and (max-width: 568px)
  #main
    grid-template-rows: 50px auto

  #menu
    height: 50px

  .logo__img
    width: 40px

  .icon-bars
    top: 8px

  .wrap-mobile-menu
    button
      top: 12px


  .home-caption__subtitle
    +rfs(22px)
    padding-left: 2px

  .slider-link
    padding-left: 0

  .slider__office-img
    height: 50%
  
  .course-icon
    width: 15px
    height: 15px
    margin-top: 3px
    margin-right: 10px

  .course-title
    +rfs(14px)

  .dashbord-item
    width: 100%

//* Phones Portrait*//
@media only screen and (orientation: portrait) and (max-device-width: 767px)
  #main
    grid-template-columns: 1fr
    grid-template-rows: 80px auto
    grid-template-areas: "menu menu" "page page"
    background-size: 0  

  #menu
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 80px
    z-index: 1500

  .logo
    left: 20px
    top: calc(50% + 5px)
    transform: translateY(-50%)
    
  .nav
    visibility: hidden
    display: none

  #page
    grid-template-rows: 0.5fr 3fr

  .home-row__header
    grid-template-columns: 1fr

  .home-caption
    text-align: center

  .home-caption__title
    +rfs(130px)

  .home-caption__subtitle
    +rfs(44px)
    padding-left: 8px 

  .home-row__elements
    grid-template-columns: 1fr
    grid-template-rows: 1fr repeat(3, 0.2fr) 0.3fr 
    grid-template-areas: "slider" "red" "blue" "green" "dashbord" 

  .slider-title
    width: 90%

  .slider__office-img
    height: 65%
  
  .course
    display: flex
    flex-direction: row-reverse
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    
  .course-icon
    position: inherit
    margin-top: 8px
    margin-right: 25px

  .course-title
    padding-bottom: 0
    +rfs(50px)
  
  .course-title:after
    visibility: hidden

  .course-descr
    display: none

  .course-icon
    width: 50px
    height: 50px

  .dashbord-item
    width: 37%

  .dashbord-mail__link
    +rfs(22px)

@media only screen and (orientation: portrait) and (max-device-width: 720px)
  #page
    grid-template-rows: 0.4fr 3fr

  .dashbord-item
    width: 43%

@media only screen and (orientation: portrait) and (max-device-width: 600px)

  .home-row__elements
    grid-template-rows: 1.2fr repeat(3, 0.18fr) 0.3fr 

  .slick-arrow
    display: none !important

  .slider-title
    width: 100%
  
  .slider-link
    top: 28%

  .slider-link__course
    margin-bottom: 10px

  .slider-link__img
    width: 50px

  .course-text
    +rfs(26px)

  .course-icon
    width: 45px
    height: 45px

@media only screen and (orientation: portrait) and (max-device-width: 548px)
  .home-caption__subtitle
    +rfs(39px)

  .dashbord__round-desc
    +rfs(10px)

  .slider__office-img
    height: 55%  

@media only screen and (orientation: portrait) and (max-device-width: 480px)
  #main
    grid-template-rows: 70px auto

  #menu
    height: 70px

  .logo__img
    width: 50px

  #page
    grid-template-rows: 0.4fr auto
  
  .home-caption__title
    +rfs(110px)

  .home-caption__subtitle
    +rfs(29px)
    padding-left: 9px

  .home-row__elements
    grid-template-rows: 1.1fr repeat(3, 60px) 0.35fr
    gap: 15px

  .slider-title
    padding-top: 0

  .slider-link
    top: 30%
    left: 5px

  .slider__office-img
    height: 60%  

  .slider-link__img
    width: 40px

  .slider-link__title
    +rfs(28px)

  .course-icon
    width: 35px
    height: 35px
  
  .course-title
    +rfs(28px)

  .dashbord-wrap
    height: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 1fr
    grid-template-areas: "round1 round2 round3"
    padding: 0

  .dashbord-item.round-1,
  .dashbord-item.round-2,
  .dashbord-item.round-3
    justify-self: center
    align-self: center
    margin: 0

  .dashbord-item  
    padding: 35px 0 25px

  .dashbord-item
    width: 75%

  .dashbord-mail__link
    +rfs(18px)

@media only screen and (orientation: portrait) and (max-device-width: 430px) and (max-device-height: 880px)
  #main
    grid-template-rows: 60px auto

  #menu
    height: 60px

  .logo__img
    width: 40px

  .home-caption__subtitle
    +rfs(27px)
    padding-left: 8px

  .home-row__elements
    grid-template-rows: 1fr repeat(3, 60px) 0.4fr

  .row__elements-title
    +rfs(22px)
  
  .slider-link__img
    width: 35px

  .slider-link__title
    +rfs(26px)
    padding-left: 15px

  .slider__office-img
    height: 55%

  .course-icon
    width: 30px
    height: 30px

  .course-title
    +rfs(28px)
  
  .dashbord-item
    width: 75%
    
@media only screen and (orientation: portrait) and (max-device-width: 430px) and (max-device-height: 770px)
  .home-row__elements
    grid-template-rows: 1.2fr repeat(3, 55px) 0.4fr

  .home-caption__title
    +rfs(100px)

  .home-caption__subtitle
    +rfs(23px)
    padding-left: 7px

  .home-row__elements
    grid-template-rows: 1.1fr repeat(3, 50px) 0.4fr

  .row__elements-title
    +rfs(18px)

  .dashbord-item
    width: 65%

  .dashbord__round-num
    +rfs(20px)

  .dashbord__round-desc
    +rfs(9px)

  .dashbord-mail__link
    +rfs(16px)

@media only screen and (orientation: portrait) and (max-device-width: 430px) and (max-device-height: 740px)
  #main
    grid-template-rows: 50px auto

  #menu
    height: 50px

  .home-row__elements
    grid-template-rows: 1.1fr repeat(3, 50px) 0.3fr

  .slider-title
    padding-left: 0
    padding-top: 0

  .slider-link__course
    margin-bottom: 8px

  .slider-link__img
    width: 30px

  .dashbord-title,
  .dashbord-mail
    left: 15px

@media only screen and (orientation: portrait) and (max-device-width: 414px)
  .slider__office-img 
    height: 50%
  
  .icon-bars
    top: 12px

  .wrap-mobile-menu 
    button
      top: 16px

@media only screen and (orientation: portrait) and (max-device-width: 375px)
  #page
    gap: 15px
    padding: 15px

  .home-caption__title
    +rfs(80px)

  .home-caption__subtitle
    +rfs(17px)
    padding-left: 6px

  .item-elements
    padding: 5px
    border-radius: 10px

  .slider .slick-dots button
    width: 7px
    height: 7px

  .slider-item
    padding: 10px
    border-radius: 10px

  .slider-link
    top: 35%

  .slider-title
    padding-left: 0
    
  .slider-link__course
    margin-bottom: 5px

  .slider__office-img
    height: 55%

  .slider-link__img
    width: 20px

  .slider-link__title
    +rfs(16px)
    
  .course-icon
    width: 25px
    height: 25px
    margin-right: 15px
    margin-top: 4px

  .dashbord__round-num
    +rfs(16px)

  .dashbord__round-desc
    +rfs(8px)

  .dashbord-mail
    bottom: 10px

  .dashbord-mail__link
    +rfs(14px)

  .icon-bars
    top: 12px

  .wrap-mobile-menu 
    button
      top: 16px

@media only screen and (orientation: portrait) and (max-device-width: 320px)
  #page
    gap: 10px

  .home-row__elements
    grid-template-rows: 1.1fr repeat(3, 40px) 0.3fr
    gap: 10px

  .row__elements-title
    +rfs(14px)

  .slider .slick-dots
    bottom: 10px

  .slider-item
    padding-top: 10px

  .course-icon
    width: 20px
    height: 20px

  .course-title
    +rfs(16px)

  .home-caption__subtitle
    +rfs(16px)
    padding-left: 4px
  
  .dashbord-item
    width: 75%
    padding: 25px 0 20px

  .dashbord-mail
    bottom: 8px

  .dashbord-mail__link
    +rfs(12px)

  .mobile-nav__item
    +rfs(14px)
    padding: 20px 15px
    border-radius: 10px

  .icon-bars
    top: 8px

  .wrap-mobile-menu 
    button
      top: 12px
