// Landscape //
@media only screen and (orientation: landscape) and (max-device-width: 1680px)
  .lesson-element.master-class
    grid-template-columns: 5% 95%

@media only screen and (orientation: landscape) and (max-device-width: 1440px)
  .title-course
    +rfs(118px)

  .lesson-element
    grid-template-columns: 5% 90% 5%
    padding: 20px 25px
    
@media only screen and (orientation: landscape) and (max-device-width: 1366px)
  .lesson-element.master-class
    grid-template-columns: 6% 94%

@media only screen and (orientation: landscape) and (max-device-width: 1280px)
  .title-course
    +rfs(110px)

@media only screen and (orientation: landscape) and (max-device-width: 1194px)
  .section-row__header
    grid-template-columns: 2fr 1.2fr

  .title-course
    +rfs(94px)

@media only screen and (orientation: landscape) and (max-device-width: 1080px)
  .lesson-element.master-class
    grid-template-columns: 7% 93%

  .lesson-element__icon img
    width: 50px

@media only screen and (orientation: landscape) and (max-device-width: 1024px)
  #section.course-lesson
    grid-template-rows: 22vh 66vh

  .title-course
    +rfs(90px)
@media only screen and (max-device-width: 1023px)
  .lesson-element
    grid-template-columns: 7% 93% 0

  .lesson-element__link
    display: none
    visibility: hidden


@media only screen and (orientation: landscape) and (max-width: 960px)
  #section.course-lesson
    grid-template-rows: 15vh 55vh

  .title-course
    +rfs(70px)

  .lesson-element
    padding: 15px 20px

@media only screen and (orientation: landscape) and (max-width: 812px)
  #section.course-lesson
    grid-template-rows: 15vh 50vh

  .name-link
    +rfs(18px)
      
  .lesson-element__num
    +rfs(24px)
  
  .lesson-element__icon img
    width: 45px


@media only screen and (orientation: landscape) and (max-width: 736px)
  #section.course-lesson
    grid-template-rows: 20vh 52vh

@media only screen and (orientation: landscape) and (max-width: 667px)
  .title-course
    +rfs(60px)

  .lesson-item
    padding-bottom: 10px

  .lesson-element
    padding: 12px 20px

@media only screen and (orientation: landscape) and (max-width: 568px)
  .title-course
    +rfs(50px)

  .name-link
    +rfs(14px)
      
  .lesson-item
    padding-bottom: 10px

  .lesson-element__num
    +rfs(20px)

  .lesson-element__icon img
    width: 35px

// Portrait //
@media only screen and (orientation: portrait) and (max-device-width: 1024px)
  .title-course
    +rfs(90px)

  .lesson-element
    grid-template-columns: 5% 90% 5%
    padding: 20px 30px

  .lesson-element.master-class
    grid-template-columns: 7% 93%

@media only screen and (orientation: portrait) and (max-device-width: 900px)
  .lesson-element__icon img
    width: 50px

@media only screen and (orientation: portrait) and (max-device-width: 834px)
  .lesson-element
    grid-template-columns: 5% 95%

  .title-course
    +rfs(80px)

  .name-link
    +rfs(20px)
      
  .lesson-element__num
    +rfs(26px)

@media only screen and (orientation: portrait) and (max-device-width: 810px)
  .name-link
    +rfs(18px)

  .lesson-element__num
    +rfs(24px)

  .lesson-element
    padding: 20px

  .lesson-element__name
    padding-left: 15px  
      
@media only screen and (orientation: portrait) and (max-device-width: 768px)
  .section-row__course.lesson-row,
  .lesson-element
    border-radius: 10px

@media only screen and (orientation: portrait) and (max-device-width: 750px)
  .lesson-element
    grid-template-columns: 7% 93%

  .lesson-element
    height: 80px

  .lesson-element.master-class
    grid-template-columns: 8% 92%
    
  .lesson-element__icon img
    width: 45px
    
@media only screen and (orientation: portrait) and (max-device-width: 650px)
  .lesson-element.master-class
    grid-template-columns: 9% 91%

@media only screen and (orientation: portrait) and (max-device-width: 600px)
  .title-course
    +rfs(70px)

@media only screen and (orientation: portrait) and (max-device-width: 480px)
  .name-link
    +rfs(16px)

  .lesson-element__num
    +rfs(22px)

  .lesson-element
    height: 70px
    padding: 15px 20px

@media only screen and (orientation: portrait) and (max-device-width: 480px)
  .name-link
    +rfs(14px)

  .lesson-element__num
    +rfs(18px)

  .lesson-element
    height: 60px
    padding: 10px 20px

  .lesson-element.master-class
    grid-template-columns: 12% 88%

  .lesson-element__icon img
    width: 40px
  
@media only screen and (orientation: portrait) and (max-device-width: 420px)
  .title-course
    +rfs(50px)

  .lesson-item
    padding-bottom: 10px

@media only screen and (orientation: portrait) and (max-device-width: 375px)
  .lesson-element
    height: 50px
    padding: 7px 15px

@media only screen and (orientation: portrait) and (max-device-width: 350px)
  .name-link
    +rfs(12px)

  .lesson-element__num
    +rfs(16px)

  .lesson-element__icon img
    width: 35px
