$default-font: "Days", sans-serif
$text-font: "Gotham Pro", sans-serif
$accent: #003EFF
$tytle: #333333
$text: #454545
$red: #FF5216
$blue: #0089FF
$dark-blue: #00166B
$green: #009F3A
// $border: #eeeeee
$border: #e7e7e7
$elem: #f6f6f6
$orange: #ff8800
$purple: #7030a0
$color-excel: #008000
$color-word: #185ABD
$color-point: #b7472a
$color-pascal: #0089ff
$color-python: #0066CC
$color-html: #F25700
$color-css: #0096D2
